/*
© 2023 libyzxy0
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
:root {
    --color-primary: #8DFF7D;
    --color-secondary: #546FF7;
    --background-primary: #151418;
    --background-secondary: #19181d;
    --text-white: #F5F5F5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: var(--background-primary);
}
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;    
    top: 0;
    background-color: var(--background-secondary);
    height: 3.3rem;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
nav h1 {
    color: var(--color-primary);
    margin-left: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 0.1rem;
}
nav h1 b {
    color: var(--color-secondary);
    font-family: 'Bebas Neue', sans-serif;
}
.hero {
    margin-top: 3rem;
}
.hero .container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 21rem;
}
.input-box form .input-container button {
    position: absolute;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: var(--color-secondary);
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid transparent;
    padding: 5px 7px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;             
}
.input-box form .input-container button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.input-box form .input-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.input-box form .input-container input {
    outline: none;
    border: none;
    height: 2.6rem;
    width: 18rem;
    padding: 0 0.6rem;
    padding-right: 3rem;
    color: var(--text-white);
    font-size: 16px;
    border-radius: 7px;
    background-color: var(--background-secondary);
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    margin-bottom: 1rem;
}
.input-box form .download {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    border: none;
    width: 17.6rem;
    height: 2.4rem;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
.input-box form .download:hover {
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
.copyright {
    margin-bottom: 2rem;
}
.copyright p {
    color: var(--text-white);
}
.cards {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards .card {
    margin-bottom: 1.5rem;
    width: 18rem;
    border-radius: 7px;
    background-color: var(--background-secondary);
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}
.cards .card h1 {
    color: var(--color-primary);
    font-family: 'Bebas Neue', sans-serif;
    margin: 0rem 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.cards .card p {
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    margin: 0.5rem 1rem;
    padding-bottom: 0.8rem;
}
.cards .card a {
    color: var(--color-secondary);
    text-decoration: none;
}
